<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application android:name=".LensIqApplication" android:theme="@style/AppTheme" android:label="LENSIQ Recovered" android:allowBackup="false">
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.translate.RealTimeTranslationActivity" />
        <activity android:name=".ui.translate.TransChatFreelyActivity" />
        <activity android:name=".ui.media.PreviewActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.SplashActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <service android:name=".service.DaemonService" android:exported="false" />
        <service android:name=".service.AiAssistantService" android:exported="false" />
        <service android:name=".service.AlarmService" android:exported="false" />
        <receiver android:name=".service.AlarmReceiver" android:exported="false" />
    </application>
</manifest>
